{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
<!--    <img src="/bootstrap/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    WELCOME TO  BALAN STORE
  </a>
    {% if user.is_authenticated %}
    <li><h4 style="color:white;">Hello {{user.username}}</h4></li>
									<li><a href="logout">Logout</a></li>
									{% else %}
									<li><a href="register">Register</a></li>
									<li><a href="login">Login</a></li>
									{% endif %}
    <a class="navbar-brand" href="{% url 'register' %}">
<!--    <img src="/bootstrap/assets/brand/bootstrap-slid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    REGISTER
  </a>
    <a class="navbar-brand" href="{% url 'login' %}">
<!--    <img src="/bootstrap/assets/brand/bootstrap-slid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    LOGIN
  </a>
    <a class="navbar-brand" href="{% url 'dept' %}">
<!--    <img src="/bootstrap/assets/brand/bootstrap-slid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    DEPARTMENT
  </a>
    <button>
     <a class="navbar-brand" href="{% url 'login' %}">
<!--    <img src="/bootstrap/assets/brand/bootstrap-slid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    LOGIN
  </a>
</button>
</nav>

{% block body %}
{% endblock %}
</body>
</html>