
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="credentials/register">Register</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="credentials/login">Login</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">-->
<!--          Department link-->
<!--        </a>-->
<!--        <div class="dropdown-menu">-->
<!--          <a class="dropdown-item" href="bca.html">BCA</a>-->
<!--          <a class="dropdown-item" href="bc.html">BCOM</a>-->
<!--          <a class="dropdown-item" href="psy.html">BSC PSYCHOLOGY</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
